.App {
  text-align: center;
}

.App-header {
  background-color: #000000;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  width: 40vw;
  height: 40vw;
  border-radius: 100%;
  background-color: #0b090a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.live-value {
  color: white;
  font-size: calc(100px + 2vmin);
}

.message {
  background-color: #161a1d;
  font-size: 50px;
  /* height: calc(100px + 2vmin); */
  width: 80%;
  justify-content: center;
  margin-top: 5%;
  border-radius: 20px;
  padding: 5% 0;
}

.redback-logo {
  max-width: calc(200px + 1vmin);
  display: flex;
  align-self: center;
  padding-top: 5%;
}

.value-title {
  font-size: calc(25px + 2vmin);
}

